{% comment %}
Reset our variables so the state is clean for the next loop
{% endcomment %}
{%- assign __root = __CONTEXT_root -%}
{%- assign __document = __CONTEXT_document -%}
{%- assign __document_path = __CONTEXT_document_path -%}
{%- assign __template_list = __CONTEXT_template_list -%}
{%- assign __template_slug = __CONTEXT_template_slug -%}
{%- assign __template_path = __CONTEXT_template_path -%}
{%- assign __child_documents = __CONTEXT_child_documents -%}
{%- assign __child_document = __CONTEXT_child_do -%}
{%- assign __child_path = __CONTEXT_child_path -%}
{%- assign __child_paths = __CONTEXT_child_paths -%}
{%- assign __new_template_list_length = __CONTEXT_new_template_list_length -%}
{%- assign __new_template_list = __CONTEXT_new_template_list -%}
