{% comment %}
Save the previous context so this loop doesn't clobber data from it's parent call
{% endcomment %}
{%- assign __CONTEXT_items_at_current_depth = __items_at_current_depth-%}
{%- assign __CONTEXT_group = __group -%}

{%- assign __items_at_current_depth = include.paths
  | group_by_exp: "item", 'item | remove: include.root | split: "/" | first'
-%}

<ul class="list-unstyled">
{%- for __group in __items_at_current_depth -%}
<li{% if include.is_category %} class="mb-2 mb-md-4"{% endif %}>
  {%- include sidebar/preserve_context.html -%}

  {%- assign __root = include.root | append: __group.name | append: '/' -%}

  {%- assign __document_path = include.root | append: __group.name -%}
  {%- unless __document_path contains "." -%}
    {%- assign __document_path = __document_path | append: "/index" -%}
  {%- endunless -%}

  {%- assign __document = include.documents
    | where_exp: "item", 'item.path contains __document_path'
    | first
  -%}
  {%- assign __template_list = include.templates
    | split: ","
  -%}
  {%- assign __template_slug = __template_list
    | first
  -%}
  {%- assign __template_path = __template_slug
    | prepend: "sidebar/"
    | append: ".html"
  -%}

  {%- include {{ __template_path }}
    slug=__group.name
    document=__document
    categories=include.categories
  -%}

  {%- assign __child_paths = __group.items
    | where_exp: "item", 'item != __document.path'
  -%}
  {%- if __child_paths -%}
  {%- assign __child_documents = site.Array -%}
  {%- for __child_path in __child_paths -%}
  {%- assign __child_document = include.documents
    | where: "path", __child_path
    | first
  -%}
  {%- assign __child_documents = __child_documents | push: __child_document -%}
  {%- endfor -%}
  {% assign __child_paths = __child_documents
    | sort: "sidebar_order", "last"
    | map: "path"
  %}

  {%- assign __new_template_list_length = __template_list.size
    | minus: 1
  -%}
  {%- if __new_template_list_length < 1 -%}
    {%- assign __new_template_list = __template_slug -%}
  {%- else -%}
    {%- assign __new_template_list = __template_list
      | slice: 1, __new_template_list_length
      | join: ','
    -%}
  {%- endif -%}

  {% include sidebar/tree.html
    root=__root
    paths=__child_paths
    documents=include.documents
    templates=__new_template_list
  %}
  {%- endif -%}

  {%- include sidebar/restore_context.html -%}
</li>
{%- endfor -%}
</ul>

{% comment %}
Reset our variables so the state is clean for the next loop
{% endcomment %}
{%- assign __items_at_current_depth = __CONTEXT_items_at_current_depth-%}
{%- assign __group = __CONTEXT_group -%}
